@charset "utf-8";
/*添加淡入淡出的css*/
.carousel-fade .carousel-inner .item{ opacity:0; -webkit-transition-property:opacity;-moz-transition-property:opacity ; -ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity ;}
.carousel-fade .carousel-inner .active{ opacity: 1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left: 0;opacity: 0;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}


.container .row .col-lg-4.col-md-4.footer-logo {
	text-align: left;
}
.container .row .col-lg-4.col-md-4.columns {
	text-align: center;
}
.container .row .col-lg-4.col-md-4.columns h6 {
	color: #FFF;
	text-align: left;
	font-weight: bold;
}
.container .row .col-lg-8.col-md-8.columns #bot_ul_cht {
	padding-bottom: 15px;
}
.container .row .col-lg-8.col-md-8.columns #bot_ul_cht li {
	padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    border-right-style: solid;
    border-right-width: 1px;
}
.container .row .col-lg-8.col-md-8.columns p {
	color: #FFF;
}
.container .row .col-lg-8.col-md-8.columns #bot_ul_cht li a {
	color: #FFF;
}
#video-area .bd-example #carouselExampleCaptions .carousel-inner .carousel-item.active img {
	width: 100%;
    height: auto;
}
