@charset "utf-8";
/*添加淡入淡出的css*/
.carousel-fade .carousel-inner .item{ opacity:0; -webkit-transition-property:opacity;-moz-transition-property:opacity ; -ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity ;}
.carousel-fade .carousel-inner .active{ opacity: 1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left: 0;opacity: 0;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}


.container .row .col-lg-4.col-md-4.footer-logo {
	text-align: left;
}
.container .row .col-lg-4.col-md-4.columns {
	text-align: center;
}
.container .row .col-lg-4.col-md-4.columns h6 {
	color: #FFF;
	text-align: left;
	font-weight: bold;
}
.container .row .col-lg-8.col-md-8.columns #bot_ul_cht {
	padding-bottom: 15px;
}
.container .row .col-lg-8.col-md-8.columns #bot_ul_cht li {
	padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    border-right-style: solid;
    border-right-width: 1px;
}
.container .row .col-lg-8.col-md-8.columns p {
	color: #FFF;
}
.container .row .col-lg-8.col-md-8.columns #bot_ul_cht li a {
	color: #FFF;
}
#video-area .bd-example #carouselExampleCaptions .carousel-inner .carousel-item.active img {
	width: 100%;
    height: auto;
}
.overlay-2 {
	/*background-image: url(../img/banner-bg-min.jpg);*/
	background-repeat:no-repeat;
}
@media (max-width: 45em){.overlay-2 {min-width: 100%; height: -webkit-fill-available;}}
#video-area .contents p {font-size: 20px;}

/*LOGO 判斷顯示大小*/
@media(min-width: 992px) and (max-width: 1200px){.logo-menu a img {width: 200px;}}
@media(min-width: 480px) and (max-width: 768px){.logo-menu a img {width: 200px;}}
@media (max-width: 45em){.logo-menu a img {width: 45%;}}

#video-area .contents h1 span {font-size: 34px;}
@media (max-width: 990px) and (min-width: 768px){#video-area .contents h1 span {font-size: 20px;}}
@media (max-width: 45em){#video-area .contents h1 span {font-size: 12px;}}

.w-100 { max-width: 100%!important; height: 100%;}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #4676fa;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

h3.wow.fadeInDown.animated {
    color: #eceeef;
}

/*導覽列下拉式選單*/
.btn-secondary {
    color: #292b2c;
    background-color: #fff0;
    border-color: #ccc0;
}
a#dropdownMenuLink {
    margin: 0;
	padding-top: 18px;
}
.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #ffffff;
    background-color: #e6e6e600;
    /* background-image: none; */
    border-color: #adadad00;
}
.dropdown-content a:hover{
    background-color: #e6e6e600;
}
.btn-secondary:hover {
    color: #ffffff;
    background-color: #e6e6e600;
    border-color: #adadad00;
}

video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}

/*頁尾樣式設計*/
.container .row .col-lg-12.col-md-12.columns p {
	font-size: 90%;
	color: #FFF;
	margin-top: 10px;
}


/*網站功能樣式設計*/
button.btn.btn-link {
    color: #0275d8;
    font-size: 22px;
}
.card-body {
    margin: 20px;
}
h6 {
    font-size: 20pt;
}
ul {
    padding: 0 30px 22px;
}#features .container #unlimited .col-lg-4.col-md-4 .card-img-top img {
	height: auto;
	width: 100%;
}
/*浮動式按鈕*/
Main components 

-------------------------------- */
header {
  position: relative;
  height: 160px;
  line-height: 180px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header h1 {
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    line-height: 225px;
  }
  header h1 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}

.cd-tabs {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 2em auto;
}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.cd-tabs-navigation {
  width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #ffffff;
  padding-top: 34px;
}
.no-touch .cd-tabs-navigation a:hover {
    color: #eceeef;
    background-color: rgba(0, 0, 0, 0.21);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #4676fa;
  color: #29324e;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    /*float: left;*/
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 2px 0 0 #4676fa;;
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-navigation {
    /* tabbed on top on big devices */
    width: auto;
    background-color: #636c72bf;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs-navigation a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 2.8em 0 4.6em;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 #4676fa;
  }
  .cd-tabs-navigation a::before {
    top: 50%;
    margin-top: -10px;
    margin-left: 0;
    left: 38px;
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
.cd-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}
@media only screen and (min-width: 960px) {
  .cd-tabs-content {
    min-height: 0;
  }
  .cd-tabs-content li {
    padding: 3em;
  }
  .cd-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Morse Connect頁面樣式*/
h6.text-center.text-primary {padding: 20px;}
img.d-flex.align-self-center {width: 80px;}
.overlay01 {
    background: url(../img/Morse/Connect-banner2-min.jpg) fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.datatitle {
    color: snow;
    padding: 10px;
}
.datatitle p {
    font-size: 17pt;
    padding: 10px 0 40px;
}
/*line@生活圈頁面樣式*/
img.wow.fadeInDown.animated {
    width: 60%;
    height: auto;
}
h2.lead.wow.fadeIn.animated {
    padding-top: 20px;
    font-size: 30px;
    color: white;
}
.section .section-header h6 {
    color: slategray;
    padding-top: 20px;
}
div#design {
    margin: auto;
}
#services .container .row .line p {
    font-size: 22px;
}
.line h6 {
    font-weight: bold;
}
/*關於網站設計頁面顯示樣式*/
.btn {
    margin: 10px;
    background-color: #025aa5;
}
