/* =============================
 STYLES FROM BOOTSTRAP 
 ======================== */
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.lead {

  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;	

}
.breadcrumb {
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #eceeef;
    border-radius: 5px;
    overflow: hidden;
}


.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-bordered {
    border: 1px solid #ddd;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


.alert {
    padding: 1em 1.25em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: .25em;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.caption {
    padding: 9px;
    color: #333;
}
/* 
===================== 
END BOOTSTRAP STYLES 
=======================
*/



* {
    box-sizing: border-box;
}

/* Mobile First approach. Design for mobiles first, than we use Queries to detect large screens, and adjust width of colum: */
[class*="col-"] {
    width: 100%;
}

.img-responsive {
   /* width: 100%;  If you want the image to scale both up and down on responsiveness, set the CSS width property to 100% and height to auto:*/  
  max-width: 100% ; /* image to scale down if it has to, but never scale up to be larger than its original size,         */
  height: auto;  
  border:none;
}

.container {  
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto; 
  padding: 10px;    
    overflow: hidden;    
}

/* Apply clearfix to all .containers */
.container::after { 
    content: "";
    clear: both;
    display: table;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
:root {
    --main-txt-color: #04726b;
}
.btn-custom {
    color: #fff;
    background-color: #00AEA3;
    border-color: #00AEA3;
    box-shadow: 5px 5px 5px #888888;
}
.container p {
     color: var(--main-txt-color);
}




/* For devices > 600px an up. Tablets */
@media only screen and (min-width: 600px) {    
    
	
}


/* For devices 768px and > Up */
@media only screen and (min-width: 768px) {   
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}